{% extends 'base.html' %}
{% load static %}

{% block title %}SIRIUS Canvas - Legal Structure Designer{% endblock %}

{% block content %}
<div id="app">
    <!-- Vue.js will mount here and handle all content -->
</div>

<!-- Pass Django data to Vue.js -->
<script>
    window.djangoData = {
        csrfToken: '{{ csrf_token }}',
        apiUrls: {
            estruturas: '{% url "estruturas:api_estruturas" %}',
            templates: '{% url "estruturas:api_templates" %}',
            calcularCustos: '{% url "estruturas:api_calcular_custos" %}',
            validarConfiguracao: '{% url "estruturas:api_validar_configuracao" %}',
            salvarConfiguracao: '{% url "estruturas:api_salvar_configuracao" %}',
            aplicarTemplate: '{% url "estruturas:api_aplicar_template" %}',
            generatePdf: '{% url "estruturas:api_generate_pdf" %}'
        }
    };
</script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sirius-app.js' %}"></script>
{% endblock %}

