{% extends 'base.html' %}

{% block title %}Test Canvas{% endblock %}

{% block content %}
<div id="test-app">
    <h1>{{ message }}</h1>
    <button @click="changeMessage">Change Message</button>
    <p>Count: {{ count }}</p>
    <button @click="count++">Increment</button>
</div>

<script>
    // Test basic Vue functionality
    window.djangoData = {
        csrfToken: '{{ csrf_token }}',
        apiUrls: {
            estruturas: '{% url "estruturas:api_estruturas" %}',
            templates: '{% url "estruturas:api_templates" %}',
            calcularCustos: '{% url "estruturas:api_calcular_custos" %}',
            validarConfiguracao: '{% url "estruturas:api_validar_configuracao" %}',
            salvarConfiguracao: '{% url "estruturas:api_salvar_configuracao" %}',
            aplicarTemplate: '{% url "estruturas:api_aplicar_template" %}',
            generatePdf: '{% url "estruturas:api_gerar_pdf" %}'
        }
    };
    
    const { createApp } = Vue;
    
    createApp({
        data() {
            return {
                message: 'Vue.js is working!',
                count: 0
            }
        },
        methods: {
            changeMessage() {
                this.message = 'Message changed at ' + new Date().toLocaleTimeString();
            }
        }
    }).mount('#test-app');
</script>
{% endblock %}
